.lastModal {
	z-index: 1000;
	max-width: 378px;
	
	.modalContent {
		padding: 30px 24px 36px;

		.buttonGroup {
			display: flex;
			gap: 20px;
			justify-content: space-between;
			margin-top: 18px;
		}
	}
}

.overlay {
	position: absolute;
	z-index: 100;
	inset: 0;
	background: rgba(0 0 0 / 40%);
}
