.generalInformation {
  display: flex;
  margin-top: 20px;
}

.photoBox {
  flex-basis: 25%;
}

.form {
  flex-basis: 75%;
  margin-left: 20px;
}

.box {
  margin-bottom: 20px;
}

.selectsBox {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}
