.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 4.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;

  width: 378px;
  height: 408px;
}

.formTitle {
  color: var(--color-light-100);
}

.caption {
  color: var(--color-light-900);
}

.red {
  color: var(--color-danger-500);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-grow: 1;

  input::placeholder {
    color: var(--color-light-100);
  }

  & label {
    color: var(--color-light-900);
  }
}

.captureWrapper {
}
