.wrap {
  display: flex;
  gap: 12px;
  width: 320px;
  height: 50px;
}

.nameField {
  display: flex;
  align-items: center;
}

.withoutAvatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background: grey;
  border-radius: 50%;
}
