.container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 24px;
}

.userAvatar {
  position: relative;

  overflow: hidden;

  width: 52px;
  height: 52px;
  margin-right: 12px;

  background-color: #780a75;
  border-radius: 50%;

  img {
    object-fit: cover;
  }

  & .sizeS {
    width: 36px;
    height: 36px;
  }

  & .sizeL {
    width: 204px;
    height: 204px;
  }
}

.textPresentaion {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
