.container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
	padding: 10px 24px 13px;
}

.userAvatar {
  margin-right: 12px;
  border-radius: 50%;
}

.textPresentaion {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.ellipsisIcon {
  margin-left: auto;
  cursor: pointer;
}

.deletePostModal {
  z-index: 1000;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

  width: 378px;
  padding: 1.5rem;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.PopoverContent {
  border-radius: 2px;
  border: 1px solid var(--color-dark-100);
  background-color: var(--color-dark-500);
  z-index: 1000;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  .popoverItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
  }
}
