.shareOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  background: var(--color-dark-100);
  border: 1px solid var(--color-dark-300);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 12px;
}
.icon {
  border-radius: 50%;
  border: 1px solid var(--color-light-100);
}
