.wrap {
  display: flex;
  justify-content: center;
  border-top: 0.5px solid rgb(17 17 17);
  border-bottom: 0.5px solid rgb(17 17 17);
}

.active {
  background-color: #4c4c4c;
}

.icon {
  display: flex;
  align-items: start;
  justify-content: center;

  width: 48px;
  height: 48px;
  padding: 12px;

  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  padding-top: 12px;
}

.message {
  padding-bottom: 12px;
}

.date {
  display: flex;
  align-items: start;
  justify-content: end;

  width: 50px;
  padding-top: 12px;
}

.messageColor {
  color: #8d9094;
}
