.wrapper {
  width: 100%;
  margin: 36px 64px 48px 24px;
}

.postsGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  margin: 48px auto;

  .galleryItem {
    position: relative;
    width: calc(25% - 12px);
    height: 300px;
    cursor: pointer;
  }
}

.userPresentation {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 90%;
}

.textPresentation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userAvatar {
  position: relative;

  overflow: hidden;

  min-width: 204px;
  height: 204px;
  margin-right: 24px;

  background-color: #780a75;
  border-radius: 50%;

  img {
    object-fit: cover;
  }
}

.settingsButton {
  align-self: flex-end;
}

.modal {
  width: 100%;
  max-width: 972px;
  min-height: 636px;
  max-height: unset;
}
