.modalBox {
  overflow: hidden;
  display: flex;
  width: 972px;
  background-color: #333;
  min-width: 972px;
}

.photoBox {
  position: relative;
  width: 490px;
  height: 564px;

  img {
    object-fit: cover;
  }
}

.textBox {
  min-height: 564px;
}

.postHeader {
  width: 100%;
  padding: 10px 16px;
  border-bottom: 1px solid #4c4c4c;
}

.post {
  padding: 10px 16px;
  height: 100px;
}

.comments {
  padding: 10px 16px;
  overflow-y: auto;
  max-height: 240px;
}

.reactToPost {
  padding: 10px 16px;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-end;

  width: 100%;

  border-top: 1px solid #4c4c4c;

  .reactionsBox {
    height: 80px;

    .iconsBox {
      display: flex;
      gap: 6px;
      align-items: flex-start;

      height: 36px;
      margin: 12px auto;

      & svg {
        cursor: pointer;
      }
    }
  }

  .leaveComment {
    display: flex;
    gap: 24px;
    justify-content: space-between;

    input {
      width: 330px;
      border: 1px solid #4c4c4c;
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 564px;
}
