.modalBox {
  display: flex;
  background-color: #333333;
  width: 100%;
  overflow: hidden;
}

.photoBox {
  max-width: 490px;
  max-height: 564px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textBox {
  width: 100%;
  min-height: 564px;
  padding: 8px;
}

.postHeader {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #4c4c4c;
  margin-bottom: 8px;
}

.post {
  height: 100px;
}

.comments {
  max-height: 240px;
  overflow-y: auto;
}

.reactToPost {
  width: 100%;
  border-top: 1px solid #4c4c4c;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .reactionsBox {
    height: 80px;

    .iconsBox {
      margin: 12px auto;
      height: 36px;
    }
  }

  .leaveComment {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    input {
      border: 1px solid #4c4c4c;
      width: 330px;
    }
  }
}
