.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 378px;
  height: 408px;
}

.text {
  margin: 23px 80px 37px 83px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 24px;
}

.btn {
  width: 330px;
  margin-bottom: 36px;
  padding: 0 24px;
}

.hr {
  padding: 24px;
}

.hr2 {
  padding: 50px;
}
