.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 378px;
  height: 408px;
}

.text {
  padding: 23px 80px 57px 83px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 34px;
  align-items: center;

  padding: 0 24px;
}

.spacer {
  flex-grow: 1;
}

.btn {
  width: 330px;
  margin-bottom: 36px;
}
