.root {
  flex: 0 0 calc(25% - 8px);
  max-width: calc(25% - 8px);
  transition: all 0.3s ease;
  margin-bottom: 1.25rem;
}
.ownerInfo {
  cursor: pointer;

  display: flex;
  gap: 0.75rem;
  align-items: center;

  margin-bottom: 0.75rem;
}
.avatar {
  border-radius: 50%;
}
.time {
  color: var(--color-light-900);
}
.postDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  word-break: break-word;
  overflow-wrap: break-word;
}
.showMore {
  cursor: pointer;
  color: var(--color-accent-500);
  text-decoration: underline;
}
