.form {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;

  margin-left: 50px;
}

.selectsBox {
  display: flex;
  align-items: flex-end;

  & div {
    flex-grow: 1;
  }
}

.errorLink {
  margin-left: 4px;
}
