.wrap {
  display: flex;
  gap: 12px;
  padding: 12px;
  border-bottom: 1px solid #333;
}

.haveNewMessage {
	background: rgba(68 68 249 / 70%);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  background-color: grey;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  .userNameAndTime {
    display: flex;
    justify-content: space-between;
  }
}

.colorGrey {
  color: #8d9094;
}
