.info {
  padding-top: 35px;
}

.desc {
  width: 730px;
  height: 73px;
}

.bnts {
  display: flex;
  gap: 12px;
}

.followers {
  display: flex;
  gap: 100px;
  margin-top: 26px;
  margin-bottom: 28px;
}

.profile {
  display: flex;
  justify-content: space-between;
}
