.wrapper {
  width: 100%;
  margin: 36px 64px 48px 24px;
}

.postsGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  margin: 48px auto 0;

  .galleryItem {
    cursor: pointer;
    position: relative;
    width: calc(25% - 12px);
    height: 300px;
  }
}

.textPresentation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settingsButton {
  align-self: flex-end;
}

.modal {
  width: 100%;
  max-width: 972px;
  min-height: 636px;
  max-height: unset;
}

.bnts {
  display: flex;
  gap: 12px;
}

.profile {
  display: flex;
  justify-content: space-between;
}
