.post {
  margin-top: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 30px;
  }
}

.descriptionBox {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  & > img {
    border-radius: 50%;
  }

  .description {
  }
}

.likesBox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.comments {
  color: var(--color-light-900);
  cursor: pointer;
}
