.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.userAvatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #780a75;
  margin-right: 12px;
}

.userName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
