.modal {
  width: 100%;
  max-width: 972px;
  max-height: unset;
}

.container {
  display: flex;
}

.imageContainer {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  width: 490px;
  height: 502px;

  background-color: #333;

  img {
    object-fit: cover;
  }
}

.publicationContainer {
  display: flex;
  flex-direction: column;

  width: 490px;
  height: 502px;
  padding: 24px;

  background-color: #333;
}

.postContainer {
  margin-bottom: 36px;
  border-bottom: 1px solid #4c4c4c;
}

.textArea {
  width: 432px;
  height: 120px;
  margin-bottom: 24px;
}

.textArea::after {
  content: '0/500';
}

.button {
  place-self: flex-end;
}
