.page {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.backButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

