.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.currentImage {
	display: block !important;
}

.container {
	width: 50%;
}

.filters {
	display: flex;
	flex-wrap: wrap;
	gap: 24px 18px;
	justify-content: space-between;

	width: 100%;
	height: 100%;
	padding: 24px 54px 0;

	.filter {
		display: flex;
		flex-direction: column;
		gap: 6px;
		align-items: center;
	}
}
