.root {
  flex: 0 0 calc(25% - 9px);
  max-width: calc(25% - 9px);
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.header {
  cursor: pointer;

  display: flex;
  gap: 13px;
  align-items: center;

  margin-bottom: 12px;
}
.showMore {
  cursor: pointer;
  display: inline-block !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px;
  color: var(--color-accent-500);
  text-decoration: underline;
}
