.content {
	position: relative;
	width: 490px;
	height: 70%;
}

.controls {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: space-between;

	padding: 11px;
}

.leftControls {
	display: flex;
	gap: 24px;
}


.block {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 36px;
	height: 36px;

	opacity: 0.8;
	background: rgba(23 23 23);
	border-radius: 2px;

	transition: all 0.3s ease-in-out;

	&:hover {
		opacity: 1;
	}
}

.trigger {
	position: relative;
}

.options {
	position: absolute;
	bottom: 40px;

	opacity: 0.8;
	background: rgba(23 23 23);
	border-radius: 2px;


}

.scale {
	display: flex;
	flex-direction: column;
	width: 156px;

	.scaleItem {
		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 10px 13px;

		&:hover {
			background-color: rgba(255 255 255 / 10%);
		}
	}

	:nth-child(2){
		&::after {
			content: "";

			width: 18px;
			height: 18px;

			border: 2px solid var(--color-light-900);
			border-radius: 3px;
		}
	}

	:nth-child(3){
		&::after {
			content: "";

			width: 18px;
			height: 26px;

			border: 2px solid var(--color-light-900);
			border-radius: 3px;
		}
	}

	:nth-child(4){
		&::after {
			content: "";

			width: 26px;
			height: 20px;

			border: 2px solid var(--color-light-900);
			border-radius: 3px;
		}
	}
}

.slider {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
}

.imagesWrapper {
	right: 0;
	width: 350px;
	padding: 12px;

	.images {
		scrollbar-width: none;

		overflow-x: auto;
		display: flex;
		gap: 12px;

		width: 100%;

		-ms-overflow-style: none;
	}

	.imageItem {
		position: relative;
		width: 82px;
		height: 80px;

		.block {
			width: fit-content;
			height: fit-content;
			padding: 3px;
		}

		.removeImage{
			position: absolute;
			top: 2px;
			right: 2px;
		}
	}

	.addFiles {
		cursor: pointer;
	}
}

.cropConfirm {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;

	&::before {
		content: '\2713';
	}
}

.dots {
  bottom: 18px !important;
  left: 50%;
  transform: translateX(-50%) !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap !important;
  min-width: 100px !important;
  width: auto !important;
  max-width: 180px !important;
  height: 12px;
  background: var(--color-dark-300) !important;
  opacity: 0.7;
  border-radius: 5px !important;
}

.dots li {
  list-style: none;
  display: inline-block;
  bottom: -6px;
  left: 4px;
}

.dots li button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dots li button::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-light-100);
  opacity: 0.3;
}

.dots li.slick-active button:before {
  background-color: red; /* Цвет активной точки */
  border-color: red; /* Цвет границы активной точки */
}

.customArrow {
  // width: 36px !important;
  // height: 36px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.prevArrow {
  left: 5%;
  top: 91%;
  transform: translateY(-50%);
}

.nextArrow {
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}