.header {
  display: flex;
  flex-wrap: wrap;
  place-content: center space-between;
  align-items: center;

  width: 100%;
  height: 4rem;
  padding: 1.5rem 4rem;

  background: var(--color-dark-700);
  border-top: 1px solid var(--color-dark-300);

  .actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-end;

    .loginButton {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.selectItem {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  width: 6rem;
}

.nounderline {
  text-decoration: none;
}

.bellBtn {
  padding: 0;
}

.notSpan {
  position: absolute;
  top: -5px; /* Сдвиг вверх */
  right: -5px; /* Сдвиг вправо */

  display: flex;
  align-items: center;
  justify-content: center;

  width: 13px;
  height: 13px;

  font-size: 12px; /* Размер текста */
  font-weight: bold;
  color: var(--color-light-300);

  background-color: var(--color-danger-300);
  border-radius: 50%;
}

.notWrap {
  position: relative;
  display: inline-block;
}
